// Vuetify SASS variables
// https://vuetifyjs.com/en/features/sass-variables/

// Colors
$primary: #667eea;
$accent: #764ba2;
$secondary: #f39c12;
$info: #3498db;
$warning: #f39c12;
$error: #e74c3c;
$success: #27ae60;
